#Ignore environments configuration
src/main/resources/env/config.development.properties
src/main/resources/env/config.production.properties
src/main/resources/env/config.testing.properties

# Build application files
target
bin
build

# Runtime application files
ETL*

# Ignore eclipse configuration project
.project
.settings
.classpath
.factorypath

# Visual Studio Code configuration files.
.vscode

# Intellij Idea IDE configuration files.
.idea